<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="menuTemplate container py-5">
      <h1 class="text-center"><%= locals.menu.Restaurant.name %></h1>

      <% locals.menu.Categories.forEach((category) => { %>

      <div class="template-category py-4">
        <h3 class="text-center px-5"><%= category.name %></h3>
        <div class="template-category__products d-flex flex-column gap-3">
          <% category.Products.forEach((product) => { %>

          <div class="product-item">
            <div class="row">
              <div class="col-5 offset-3">
                <h5><%= product.name %></h5>
                <p><%= product.description %></p>
              </div>
              <div class="col-2 d-flex align-items-center">
                <h5><%= product.price %></h5>
              </div>
            </div>
          </div>

          <% }) %>
        </div>
      </div>

      <% }) %>
    </section>
  </body>
</html>
