<div class="container py-4">
  <div class="row">
    <div class="col text-center">
      <h2>Restaurant Edit</h2>
    </div>
  </div>
  <div class="row my-4">
    <form action="/dashboard/restaurants/<%= restaurant.id %>" method="POST" id="editRestaurantForm">
      <input type="hidden" name="_method" value="PUT" />
      <div class="col col-md-6 offset-md-3 d-flex flex-column gap-3 form-container">
        <div>
          <label for="name" class="form-label">Name</label>
          <input name="name" class="form-control" id="name" value="<%= restaurant.name %>" />
        </div>
        <div>
          <label for="address" class="form-label">Address</label>
          <input name="address" class="form-control" id="address" value="<%= restaurant.address %>" />
        </div>
        <div>
          <label for="phone" class="form-label">Phone</label>
          <input name="phone" class="form-control" id="phone" value="<%= restaurant.phone %>" />
        </div>
        <div>
          <label for="description" class="form-label">Description</label>
          <textarea name="description" class="form-control" id="description"><%= restaurant.description.trim() %></textarea>
        </div>
        <div>
          <label for="website" class="form-label">Website</label>
          <input name="website" class="form-control" id="website" value="<%= restaurant.website %>" />
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckVisibility" name="public" value="true" <% if(restaurant.public) { %> checked <% } %> />
          <label class="form-check-label" for="flexSwitchCheckVisibility">Mark as public(by default false)</label>
        </div>
        <div class="row my-4">
          <div class="col">
            <a href="/dashboard/restaurants" class="btn btn-danger w-100 rounded-0">Cancel</a>
          </div>
          <div class="col">
            <button type="submit" form="editRestaurantForm" class="btn btn-md btn-primary w-100 rounded-0">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
