<section class="container py-4">
  <div class="row mb-3">
    <div class="col text-end">
      <a href="#" class="custom-button custom-button--dark">OTHER OPTION</a>
      <a href="/dashboard/restaurants/new" class="custom-button"
        >ADD NEW RESTAURANT</a
      >
    </div>
  </div>

  <div class="restaurant-container d-flex flex-column gap-4">
    <% restaurants.forEach(restaurant => { %>

    <div class="card restaurant-container__item overflow-hidden">
      <div class="row">
        <div class="col-md-12">
          <div class="card-body h-100 d-flex flex-column">
            <h2 class="card-title"><%= restaurant.name %></h2>
            <span class="card-subtitle text-muted mb-3">
              created at <%= restaurant.createdAt.toLocaleDateString("en-US") %>
            </span>
            <p class="card-text"><%= restaurant.description %></p>
            <div class="restaurant-container__buttons d-flex gap-2">
              <form
                action="/dashboard/restaurants/<%= restaurant.id %>"
                method="GET"
              >
                <input
                  type="submit"
                  class="custom-button custom-button--blue rounded-0"
                  value="Show"
                />
              </form>

              <form
                action="/dashboard/restaurants/<%= restaurant.id %>/edit"
                method="GET"
              >
                <input
                  type="submit"
                  class="custom-button custom-button--green rounded-0"
                  value="Edit"
                />
              </form>

              <form
                action="/dashboard/restaurants/<%= restaurant.id %>"
                method="POST"
              >
                <input type="hidden" name="_method" value="DELETE" />
                <input
                  type="submit"
                  class="custom-button rounded-0"
                  value="Delete"
                />
              </form>
              <div
                class="ms-auto me-2 d-flex custom-button__menusnum text-center"
              >
                <p class="my-auto fw-bold">
                  Number of menus: <%= restaurant.Menus.length %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% }); %>
  </div>
</section>
