<section class="container py-4">
  <div class="row pb-3">
    <div class="col text-center">
      <h2>Your Menus</h2>
      <p>Click menu item to load menu.</p>
    </div>
  </div>
  <div class="menu-container d-flex flex-column gap-4">
    <% restaurantsWithMenus.forEach(restaurant => { %>

    <div class="card w-75 mx-auto">
      <div class="row">
        <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
          <h5 class="text-center mt-3 mt-md-0"><%= restaurant.name %></h5>
        </div>
        <div class="col-12 col-md-8">
          <div class="p-2 mb-2 d-flex justify-content-between">
            <a href="/dashboard/restaurants/<%= restaurant.id %>" class="custom-button custom-button--green rounded-0"
              >Go to restaurant</a
            >
            <a
              href="/dashboard/menus/new?restaurantId=<%= restaurant.id %>"
              class="custom-button custom-button--blue rounded-0"
              >Add new menu</a
            >
          </div>
          <ul class="list-group m-2">
            <% restaurant.Menus.forEach(menu => { %>

            <a href="/dashboard/menus/<%= menu.id %>/edit">
              <li class="list-group-item list-group-item-action">
                <div class="row user-select-none">
                  <div class="col-6"><%= menu.name %></div>
                  <div class="col-6 text-end text-muted">has <%= menu.itemCount %> items</div>
                  <!-- <div class="col-4 text-muted">
                    <small>updated 0 days ago</small>
                  </div> -->
                </div>
              </li>
            </a>

            <% }); %> <% if(restaurant.Menus.length === 0) { %>
            <li class="list-group-item list-group-item-action text-center">
              Restaurant don't have any connected menus.
            </li>
            <% }; %>
          </ul>
        </div>
      </div>
    </div>

    <% }); %>
  </div>
</section>
