<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/icons/css/boxicons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <%- style %>
  </head>

  <body>
    <div id="dashboard-layout" class="dashboard-layout sidebar-body-padding">
      <header class="header sidebar-body-padding" id="header">
        <div class="header_toggle">
          <i class="bx bx-menu bx-x" id="header-toggle"></i>
        </div>
      </header>

      <div class="d-flex">
        <div class="sidebar show-nav" id="nav-bar">
          <nav class="nav">
            <div>
              <a href="/" class="nav_logo">
                <i class="bx bxs-cat nav_logo-icon"></i>
                <span class="nav_logo-name">MenuWorker</span>
              </a>
              <div class="nav_list">
                <a href="/dashboard/restaurants" class="nav_link">
                  <i class="bx bx-restaurant nav_icon"></i>
                  <span class="nav_name">Restaurant</span>
                </a>
                <a href="/dashboard/menus" class="nav_link">
                  <i class="bx bxs-food-menu nav_icon"></i>
                  <span class="nav_name">Menu</span>
                </a>
                <a href="/dashboard/qr" class="nav_link">
                  <i class="bx bx-qr-scan nav_icon"></i>
                  <span class="nav_name">QR Code</span>
                </a>
                <a href="/dashboard/share" class="nav_link">
                  <i class="bx bx-share-alt nav_icon"></i>
                  <span class="nav_name">Share</span>
                </a>
                <a href="/dashboard/settings" class="nav_link">
                  <i class="bx bx-cog nav_icon"></i>
                  <span class="nav_name">Settings</span>
                </a>
              </div>
            </div>
            <form action="/auth/logout" method="POST">
              <button type="submit" class="nav_link bg-transparent border-0 w-100">
                <i class="bx bx-log-out nav_icon"></i>
                <span class="nav_name">SignOut</span>
              </button>
            </form>
          </nav>
        </div>
      </div>

      <div class="dashboard-body position-relative">
        <% if(messages.info) { %>
        <div class="py-2 alert-box">
          <% messages.info.forEach(message => { %>
          <div class="alert alert-primary d-flex align-items-center gap-2" role="alert">
            <i class='bx bxs-info-circle'></i>
            <%= message %>
          </div>
          <% }); %>
        </div>
        <% } %>
        <% if(messages.success) { %>
        <div class="py-2 alert-box">
          <% messages.success.forEach(message => { %>
          <div class="alert alert-success d-flex align-items-center gap-2" role="alert">
            <i class='bx bxs-check-circle'></i>
            <%= message %>
          </div>
          <% }); %>
        </div>
        <% } %>
        <% if(messages.warning) { %>
        <div class="py-2 alert-box">
          <% messages.warning.forEach(message => { %>
          <div class="alert alert-warning d-flex align-items-center gap-2" role="alert">
            <i class='bx bxs-error'></i>
            <%= message %>
          </div>
          <% }); %>
        </div>
        <% } %>
        <% if(messages.error) { %>
        <div class="py-2 alert-box">
          <% messages.error.forEach(message => { %>
          <div class="alert alert-danger d-flex align-items-center gap-2" role="alert">
            <i class='bx bxs-error'></i>
            <%= message %>
          </div>
          <% }); %>
        </div>
        <% } %>
        <%- body %>
      </div>
    </div>

    <!-- bootstrap v5 -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/javascript/script.js" type="module"></script>
    <script>
      $(".alert")
        .delay(4000)
        .slideUp(200, function() {
          $(this)
            .alert('close');
        });

    </script>
    <%- script %>
  </body>

</html>
