<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/icons/css/boxicons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" / <%- style %> </head>

  <body>
    <section class="layout-body">
      <% if(messages.info) { %>
      <div class="py-2">
        <% messages.info.forEach(message => { %>
        <div class="alert alert-primary" role="alert"><%= message %></div>
        <% }); %>
      </div>
      <% } %>
      <% if(messages.error) { %>
      <div class="py-2">
        <% messages.error.forEach(message => { %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
        <% }); %>
      </div>
      <% } %>
      <%- body %>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/javascript/script.js"></script>
    <%- script %>
  </body>

</html>
